<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body class="bodyStyle">
  <div class="bar">
    <ul class="navbar">
      <li><a href="">MyTrash</a></li>
      <li><a href="/">TrashTable</a></li>
      <li><a href="/tasks">Task</a></li>
      <li><a href="/operations">Operations</a></li>
      <li><a href="/last_records">Records</a></li>
      <li><a href="#" onclick="history.back()">Back</a></li>
    </ul>
  </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
