{% extends "myrm/base.html" %}
    {% block content %}
        <div class="col-center-60" >
            <form action="" method="post"> {% csrf_token %}
                <b class="error">{%if error_message %} {{error_message}} {% endif %}</b>
                <table>
                    <tr>
                        <th width="10%" align="center">Recovery</th>
                        <th align="center">Name</th>
                        <th width="10%" align="center">Clear</th>
                    </tr>
                    {% for element in files %}
                        {% if element in recovery_files %}
                        <tr class="recovery-files">
                            <td width="10%" align="center"><button name="recovery" type="submit" class="recovery" value="{{element}}" disabled>R</button></td>
                            <td>{{element}}</td>
                            <td width="10%" align="center"><button name="delete" type="submit" class="delTrash" value="{{element}}" disabled>X</button></td>
                        </tr>
                        {% else %}
                            {% if element in clear_files %}
                                <tr class="clear-files">
                                    <td width="10%" align="center"><button name="recovery" type="submit" class="recovery" value="{{element}}" disabled>R</button></td>
                                    <td>{{element}}</td>
                                    <td width="10%" align="center"><button name="delete" type="submit" class="delTrash" value="{{element}}" disabled>X</button></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td width="10%" align="center"><button name="recovery" type="submit" class="recovery" value="{{element}}">R</button></td>
                                    <td>{{element}}</td>
                                    <td width="10%" align="center"><button name="delete" type="submit" class="delTrash" value="{{element}}">X</button></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
                <button name="ClearAll" type="submit" class="clearAll" value="clear">Clear all</button>
            </form>
        </div>
    {% endblock content %}