{% extends "myrm/base.html" %}
    {% block content %}
        <div class="col-center-46" >
            <form action="" method="post"> {% csrf_token %}
                <p align="center"><button name="erase" type="submit" class="erase" value="erase">Erase history</button></p>
                <table>
                    <tr>
                        <th>Operation</th>
                        <th width="30%">Content</th>
                        <th width="30%">File from (path)</th>
                        <th width="20%">Status</th>
                    </tr>
                    {% for file in files %}
                        <tr>
                            <td>{{file.operation_name}}</td>
                            <td width="30%" align="center">{{file.file_name}}</td>
                            <td width="30%" align="center">{{file.trash}}</td>
                            <td width="20%" align="center">{{file.status}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    {% endblock content %}