{% extends "myrm/base.html" %}
    {% block content %}
        <div class="col-center-46" >
            <form action="" method="post"> {% csrf_token %}
                <table>
                    <tr>
                        <th>Trash</th>
                        <th width="25%" align="center">Operation</th>
                        <th width="25%" align="center">Content</th>
                    </tr>
                    {% for operation in operations %}
                        <tr>
                            <td>{{operation.trash}}</td>
                            <td width="25%" align="center">{{operation.operation_name}}</td>
                            <td width="25%" align="center">{{operation.content}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    {% endblock content %}