{% extends "myrm/base.html" %}
    {% block content %}
        <div class="col-center-46" >
            <form action="" method="post"> {% csrf_token %}
                {% if task %}
                    <p align="center"><button name="erase" type="submit" class="erase" value="erase">Erase history</button></p>
                    <table>
                        <tr>
                            <th>Task_name</th>
                            <th>Operation</th>
                        </tr>
                        {% for record in task_list %}
                            <tr>
                                <td><button name="task" type="submit" class="task" value="{{record.task_name}}">{{record.task_name}}</button></td>
                                <td><button name="task" type="submit" class="task" value="{{record.task_name}}">{{record.operation_name}}</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if not task %}
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th width="30%">Content</th>
                            <th width="30%">File from (path)</th>
                            <th width="20%">Status</th>
                        </tr>
                        {% for file in current_done_files %}
                            <tr>
                                <td>{{file.operation_name}}</td>
                                <td width="30%" align="center">{{file.file_name}}</td>
                                <td width="30%" align="center">{{file.trash}}</td>
                                <td width="20%" align="center">{{file.status}}</td>
                            </tr>
                        {% endfor %}
                        {% for file in current_files %}
                            <tr>
                                <td>{{file.operation_name}}</td>
                                <td width="30%" align="center">{{file.content}}</td>
                                <td width="30%" align="center">{{file.trash}}</td>
                                <td width="20%" align="center">In process</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </form>
        </div>
    {% endblock content %}