{% extends "myrm/base.html" %}
    {% block content %}
        <div class="col-center-90">
            <b class="error">{%if error_message %} {{error_message}} {% endif %}</b>
            <form action="" method="post"> {% csrf_token %}
                <table>
                    <tr>
                        <td align="left"><button name="delete" type="submit" class="delete" value="{{path}}">Delete selected</button></td>
                        <td align="right"><input name="regular" type="text" size="25">
                            <button name="regular_delete" type="submit" class="regular" value="{{path}}">Delete selected with regular</button>
                        </td>
                    </tr>
                </table>
                <div class="transfer">
                {% for dir in current_dir %}
                    <button name="directory" type="submit" class="dir" value="{{dir}}">{{dir}}</button>
                    <input name="check {{dir}}" type="checkbox">
                {% endfor %}
                {% for file in current_file %}
                    <button name="file" type="submit" class="file" value="{{path}}" disabled>{{file}}</button>
                    <input name="check {{file}}" type="checkbox">
                {% endfor %}
                </div>
            </form>
        </div>
    {% endblock content %}