{% extends "myrm/base.html" %}
    {% block content %}
        <div class="col-center-90">
            <b class="error">{%if error_message %} {{error_message}} {% endif %}</b>
            <div class="brd">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button name="form" type="submit" class="addTrash" value="form">Add New Trash</button>
                    </div>
                </form>
            </div>
            <form action="" method="post">{% csrf_token %}
                <table>
                  <tr>
                    <th align="center">Path to trash</th>
                    <th align="center">Silent mode</th>
                    <th align="center">Force overwrite</th>
                    <th align="center">Trash file max size</th>
                    <th align="center">Max memory</th>
                    <th align="center">Auto erase(ms)</th>
                    <th align="center">Dry run</th>
                    <th align="center">Active</th>
                    <th align="center">Apply</th>
                    <th align="center">Delete trash</th>
                  </tr>
                    {% for record in list_of_trash %}
                      <tr>
                        <td align="center">{% if record.select %}<button name="confirm_trash" type="submit" class="selected_trash" value="{{record.path_to_trash}}">{{record.path_to_trash}}</button>{% endif %}
                        {% if not record.select %}<button name="confirm_trash" type="submit" class="select_trash" value="{{record.path_to_trash}}">{{record.path_to_trash}}</button>{% endif %}</td>
                        <td align="center">{% if record.enable_silent_mode %}<input name="enable_silent_mode {{record.path_to_trash}}" type="checkbox" checked > {% endif %}
                        {% if not record.enable_silent_mode %}<input name="enable_silent_mode {{record.path_to_trash}}" type="checkbox" > {% endif %}</td>
                        <td align="center">{% if record.enable_force_overwrite %}<input name="enable_force_overwrite {{record.path_to_trash}}" type="checkbox" checked > {% endif %}
                        {% if not record.enable_force_overwrite  %}<input name="enable_force_overwrite {{record.path_to_trash}}" type="checkbox" > {% endif %}</td>
                        <td align="center"><input name="trash_file_max_size {{record.path_to_trash}}" class="trash_list" type="number" min="1" max="999999999999999999" value={{record.trash_file_max_size}}></td>
                        <td align="center"><input name="max_memory {{record.path_to_trash}}" class="trash_list" type="number" min="1" max="999999999999999999" value={{record.max_memory}}></td>
                        <td align="center"><input name="time_until_auto_erase {{record.path_to_trash}}" class="trash_list" type="number" min="1" max="999999999999999999" value={{record.time_until_auto_erase}}></td>
                        <td align="center">{% if record.enable_dry_run %}<input name="enable_dry_run {{record.path_to_trash}}" type="checkbox" checked > {% endif %}
                        {% if not record.enable_dry_run  %}<input name="enable_dry_run {{record.path_to_trash}}" type="checkbox" > {% endif %}</td>
                        <td align="center">{% if record.active %}<input name="active " type="checkbox" checked disabled> {% endif %}
                        {% if not record.active  %}<input name="active " type="checkbox" disabled> {% endif %}</td>
                          <td align="center"><button name="edit_trash" type="submit" class="apply" value="{{record.path_to_trash}}">A</button></td>
                         <td align="center"><button name="del_trash" type="submit" class="delTrash" value="{{record.path_to_trash}}">X</button></td>
                      </tr>
                    {% endfor %}
                </table>
                <div>
                    <input type="button" class="choose" onclick="location.href='transfer'" value="Choose files for delete">
                    <input type="button" class="dive" onclick="location.href='files_from_trash'" value="Dive In Trash">
                </div>
            </form>
        </div>
    {% endblock content %}