html{
    font-size: 10px;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
b.error{
    color: #fff;
}
input.trash_list{
    width: 120px;
}
.brd{
    border: 4px inset black;
    border-radius: 10px 35px;
    background: #000;
    opacity: 0.6;
    padding-top:10px;
    padding-left:2px;
    padding-bottom:2px;
    color: #fff;
   }
.transfer{
    padding-top:30px;
}
.bar{
    padding-bottom:70px;
}
button, input, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0px;
    font: inherit;
}
button.dir{
    background:  linear-gradient(to bottom, #080b28 0%,#0e154c 100%);
    color: #fff;
    opacity:0.6;
    font-size: 14px;
    border: 0;
    width: 167px;
    border-radius: 15px;
    height: 120px;
    vertical-align: middle;
    margin-top: 10px;
    word-wrap: break-word;
    overflow:hidden;
}
button.dir:hover{
    background:  linear-gradient(to bottom, #161126 0%,#4a28af 100%);
}
button.apply{
    background: #00ff43;
    color: #000;
    border: 5px;
    opacity: 0.8;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
button.apply:hover{
    background: #08c93b;
}
button.delTrash{
    background: #ff0000;
    color: #fff;
    border: 5px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
button.delTrash:hover{
    background: #d60000;
}
button.addTrash{
    background: #35373d;
    color: #fff;
    border-radius: 1px 3px 1px 29px;
    border: 1px;
    width: 150px;
    height: 40px;
}
button.addTrash:hover{
    background: #20193d;
}
button.recovery{
    background: #004dc1;
    color: #fff;
    border: 5px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
button.recovery:hover{
    background: #0036c1;
}
button.clearAll{
    background: #ba25f9;
    color: #fff;
    font-size: 16px;
    border: 5px;
    width: 80px;
    height: 35px;
    border-radius: 0 0 30px 30px;
    margin-left:80%;
}
button.clearAll:hover{
    background: #b30ef9;
}
button.file{
    background:  linear-gradient(to bottom, #0d6b2c 0%,#149b41 100%);
    opacity:0.8;
    color: #000;
    font-size: 14px;
    border: 0;
    width: 167px;
    border-radius: 15px;
    height: 120px;
    vertical-align: middle;
    margin-top: 10px;
    word-wrap: break-word;
    overflow:hidden;
}
button.erase{
    background: #2c2444;
    color: #fff;
    font-size: 16px;
    border: 0;
    width: 250px;
    border-radius: 35px 35px 10px 10px;
    height: 35px;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-left: -6px;
}
button.erase:hover{
    background: #20193d;
}
button.task{
    background: #000;
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 0 0 12px 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}
button.task:hover{
    opacity: 0.5;
}
button.select_trash{
    background: #000;
    color: #fff;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    opacity: 1;
}
button.select_trash:hover{
    opacity: 0.5;
}
button.selected_trash{
    background: #0bbf20;
    color: #000;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    opacity: 1;
}
button.delete{
    background: #009b2c;
    color: #fff;
    font-size: 16px;
    border: 0;
    width: 250px;
    border-radius: 35px 0 0 10px;
    height: 35px;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-left: -6px;
}
button.delete:hover{
    background: #017f25;
}
button.regular{
    background: #009b2c;
    color: #fff;
    font-size: 16px;
    border: 0;
    width: 250px;
    border-radius: 0 10px 35px 0;
    height: 35px;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-right: -6px;
}
button.regular:hover{
    background: #017f25;
}
button.list {
    background: gray;
    color: #000;
    font-size: 16px;
    padding: 4px 0 5px 0;
    margin: 0;
    cursor: pointer;
    border: 0;
    width: 250px;
    border-radius: 1px;
}
button.confirm{
    background: #001e3d;
    color: #fff;
    border-radius: 15px 0 0 15px;
    border: 0;
    margin-top: 5px;
    width: 130px;
    height: 35px;
}
button.confirm:hover{
    background: #001326;
}
input.choose{
    background: #001e3d;
    color: #fff;
    border-radius: 15px 0 0 15px;
    border: 0;
    margin-top: 5px;
    width: 160px;
    height: 35px;
}
input.choose:hover{
    background: #001326;
}
input.dive{
    background: #001e3d;
    color: #fff;
    border-radius: 0 15px 15px 0;
    border: 0;
    margin-left: -4px;
    margin-top: 5px;
    width: 130px;
    height: 35px;
}
input.dive:hover{
    background: #001326;
}
.bodyStyle{
    background-image: url( '/static/images/bluewave.jpg' );
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment: fixed;
    margin:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
table{
    background: #000;
    width: 100%;
    border: 0;
    opacity: 0.7;
    border-radius: 35px 10px;
    border-spacing: 0px;
    border-collapse: collapse;
}
td, th {
    padding: 7px;
    color: #fff;
}
input{
    background: #ffc9c9;
    border: 1px;
    border-radius: 3px;
    height: 23px;
    text-align: center;
    color: #000;
}
ol, ul {
    margin-top: 0px;
}
.navbar{
    padding: 0;
    list-style-type: none;
    border: 2px;
    border-radius: 0 0 10px 10px;
    margin-left: 4%;
    width: 92%;
    height: 50px;
    text-align: left;
    background-color: #000116;
    position: fixed;
    min-height: 50px;
    margin-bottom: 20px;
    opacity: 0.9;
    z-index: 10;
}
.navbar li {
    display: inline;
}
.navbar a{
    color: #9effce;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 13px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
.navbar a:hover{
    color: #fff;
}
p {
    margin: 0px 0px 10px;
}
.col-center-46{
    width: 46%;
    margin-left:27%;
}
.col-center-90{
    width: 90%;
    margin-left: 5%;
}
.col-center-60{
    width: 60%;
    margin-left: 20%;
}
.recovery-files{
    background: #0766ff;
    opacity: 0.7    ;
}
.clear-files{
    background: #ff1135;
    opacity: 0.6;
}